# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
*.egg-info/
.Python
pip-selfcheck.json

# Local development
*.log
*.sqlite

# IDE and editor files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
